footer{
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    /* margin-bottom: 50px; */

}

.text-muted{
    font-family: "Poppins", sans-serif;

}

.container{
    background-color: $primary-color;
    width: 100%;
}


.py-3{
    margin-top: 0;
    padding-top: 0;
}

main{
    background-color: $primary-color;
}


.text-muted{
    font-family: "Poppins", sans-serif;

}